@import url("https://fonts.cdnfonts.com/css/neogrey");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NeoGrey", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;
  color: #9f9fa9;
  background-color: #181818;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form {
  width: 600px;
}

.about-you {
  width: 230px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #2c2c2c;
  color: #9f9fa9;
}

.about-you:focus {
  box-shadow: 0 0 5px 2px #475486;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.programming-languages {
  width: 120px;
  height: 25px;
  background-color: #2c2c2c;
  color: #9f9fa9;
  cursor: pointer;
}

.programming-languages:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #475486;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #475486;
  cursor: pointer;
}

.btn {
  font-family: "NeoGrey", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 10px;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #475486;
  color: #9f9fa9;
  transition: all 0.4s ease-in-out;
  border: none;
  box-shadow: 0 0 5px 2px #475486;
  font-size: 11px;
}
